html, body {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.fixed-full {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}
